@font-face {
    font-family: "Fira Code";
    src: url("/static/Fira_Code/FiraCode-VariableFont_wght.ttf");
}

body {
    font-family: "Fira Code", monospace;
}

.card {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1rem;
    }
}