<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/static/style.css" rel="stylesheet">
    {% block title %}
    <title>Kold Space</title>
    {% endblock %}
{% endblock %}
</head>
<body class="container col-xs-12 col-lg-4">
        <div class="row">
            <div class="col text-center">
                {% block page_header %}
                <h1>Kold Space</h1>
                {% endblock %}
            </div>
        </div>
        {% block body %}
        {% endblock %}
        <div class="row justify-content-center">
            <div class="text-center">
                <a href="https://www.instagram.com/i.tamtaradam/"><i class="bi bi-instagram"></i></a>
                <a href="https://t.me/VinterKold"><i class="bi bi-telegram"></i></a>
                <a href="https://gitlab.com/kingofsystem"><i class="bi bi-github"></i></a>
            </div>
        </div>
</body>
</html>