<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
    <link href="/static/style.css" rel="stylesheet">
    <title>Kold Photos</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Kold Photos</h1>
            </div>
        </div>
        {% for photo in page %}
        <div class="row">
            <div class="col">
                <a href="{{photo.original_path}}">
                    <img class="w-50 mx-auto d-block mb-md-5" src="{{photo.compressed_path}}">
                </a>
            </div>
        </div>
        {% endfor %}
        <div class="row text-center">
            <div>
                {% if page.has_previous %}
                    <a class="button" href="?page=1">First</a>
                    <a class="button" href="?page={{ page.previous_page_number }}">Previous</a>
                {% endif %}
                </div>
                <div>Page {{ page.number }} of {{ paginator.num_pages }} - {{ paginator.count }} record{% if paginator.count != 1 %}s{% endif %}</div>
                <div>
                {% if page.has_next %}
                    <a class="button" href="?page={{ page.next_page_number }}">Next</a>
                    <a class="button" href="?page={{ paginator.num_pages }}">Last</a>
                {% endif %}
                </div>
        </div>
    </div>
</body>
</html>