{% extends "main.html" %}

{% if post.header %}
    {% block title %}
        <title>{{ post.header }} << Kold Space</title>
    {% endblock %}
    {% block page_header %}
        <h1>{{ post.header }}</h1>
    {% endblock %}
{% endif %}

{% block body %}
    <div class="row justify-content-center border-top">
        <article class="mt-3">
            {% autoescape false %}
            {{ post.body }}
            {% endautoescape %}
        </article>
    </div>
{% endblock %}