{% extends "main.html" %}

{% block body %}
<div class="row justify-content-center">
        <hr />
        {% for post in page %}
            <div class="card ">
                {% if post.picture_url %}
                    <a href="{{ post.picture_url }}">
                        <img class="card-img-top rounded-0" src="{{ post.picture_url }}">
                    </a>
                {% endif %}
                {% if post.has_body %}
                    <div class="card-body">
                    {% if post.header %}
                        <h5 class="card-title">{{ post.header }}</h5>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.created }}</h6>
                    {% if post.short_text %}
                        <p class="mb-0">{{ post.short_text }}</p>
                    {% endif %}
                    </div>
                {% endif %}
                {% if post.body %}
                    <div class="card-body pt-0">
                        <a class="btn btn-outline-secondary rounded-0"href="/post/{{ post.slug }}">Посмотреть</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <nav>
            <ul class="pagination justify-content-center mt-2">
                {% if page.number > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&#60;&#60;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&#60;&#60;</span>
                </li>
                {% endif %}
                {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.previous_page_number }}">&#60;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&#60;</span>
                </li>
                {% endif  %}
                <li class="page-item disabled">
                    <span class="page-link">{{ page.number }}</span>
                </li>
                {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.next_page_number }}">&#62;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&#62;</span>
                </li>
                {% endif %}
                {% if page.number != paginator.num_pages %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ paginator.num_pages }}">&#62;&#62;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&#62;&#62;</span>
                </li>
                {% endif %}
            </ul>
        </nav>
</div>
{% endblock %}